.post-card {
  display: inline-flex;
  flex-direction: column;
  max-width: 360px;

  @media only screen and (max-width: 960px) {
    display: flex;
    max-width: 100%;
  }

  img {
    height: 250px;
    object-fit: cover;
    border-radius: 8px;

    @media only screen and (max-width: 960px) {
      height: 320px;
    }
  }

  small {
    line-height: 1.2em;
    height: 2.4em;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
